.footer {
	background-color: #f7f7f7;
	@include mq($until: lg) {
		display: none;
	}
	&__container {
		height: 195px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		@include mq($until: xl) {
			height: 175px;
		}
	}

	&__logo {
		font-size: 28px;
		line-height: 37 / 28 * 100%;
		margin: 0px 0px 32px 0px;
		@include mq($until: xl) {
			margin: 0px 0px 32 / $max-width-container * 100vw 0px;
		}
	}

	&__icon {
	}

	&__menu {
	}
}
.icon-menu {
	&__wrapper {
	}
}
.menu {
	&__body {
	}

	&__list {
	}

	&__link {
	}
}
