.header {
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 50;
	width: 100%;
	&__container {
		height: 218px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		@include mq($until: xl) {
			height: 185;
		}
		@include mq($until: lg) {
			height: 156px;
		}
	}

	&__logo {
		font-size: 35px;
		line-height: 47 / 35 * 100%;
		margin: 0px 0px 46px 0px;
		@include mq($until: xl) {
			margin: 0px 0px 46 / $max-width-container * 100vw 0px;
		}
		@include mq($until: lg) {
			font-size: 30px;
			margin: 0px 0px 0px 0px;
		}
		@include mq($until: sm) {
			font-size: 25px;
			max-width: 146px;
			text-align: center;
		}
	}
	&__icon {
	}

	&__menu {
	}
}
.menu {
	&__icon {
	}
	&__body {
		@include mq($until: lg) {
			opacity: 0;
			visibility: hidden;
			position: fixed;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
			z-index: 2;
			overflow: auto;
			background-color: $color-white;
			padding: 120px 0px 30px 0px;
			transition: all 0.3s ease;
			&:before {
				content: "";
				content: "";
				position: fixed;
				width: 100%;
				height: 76px;
				top: 0;
				left: 0;
				z-index: 100;
				background-color: $color-white;
			}
			&.active {
				opacity: 1;
				visibility: visible;
				display: block;
			}
		}
		@include mq($until: lg) {
			padding: 90px 0px 30px 0px;
			&:before {
				content: "";
				height: 70px;
			}
		}
	}

	&__list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include mq($until: lg) {
			display: block;
		}
		li {
			margin: 0px 49px 0px 0px;
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
			@include mq($until: xl) {
				margin: 0px 36 / $max-width-container * 100vw 0px 0px;
			}
			@include mq($until: lg) {
				margin: 0px 0px 20px 0px;
				width: 100%;
			}
		}
	}

	&__link {
		font-family: $font-Raleway;
		font-size: 15px;
		line-height: 18 / 15 * 100%;
		letter-spacing: 2px;
		color: $color-black;
		@include mq($until: xl) {
			font-size: 14px;
		}
		@include mq($until: lg) {
			display: block;
			font-size: 13px;
			padding: 18px 22px 18px 16px;
			background-color: $color-light-grey;
			font-size: 16px;
			line-height: 19 / 16 * 100%;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			color: #48494d;
			position: relative;
			&:after {
				content: "";
				position: absolute;
				top: 50%;
				right: 22px;
				transform: translate(0, -50%);
				width: 7.4px;
				height: 12px;
				background: url("../../img/icons/arrow-right.svg") 0 0 no-repeat;
			}
		}
	}
}
.icon-menu {
	display: none;
	@include mq($until: lg) {
		display: block;
		position: absolute;
		z-index: 5;
		top: 0;
		left: 0px;
		width: 50px;
		height: 50px;
		background-color: $color-orange;
	}
	&__wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 22.5px;
		height: 15px;
		cursor: pointer;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: $color-white;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
	}
	&.active {
		display: block;
		cursor: pointer;
		top: 17px !important;
		right: 17px !important;
		width: 28px;
		height: 28px;
		background-color: transparent;
		.icon-menu__wrapper {
			width: 100%;
			height: 100%;
			top: 0;
			right: 0;
			transform: translate(0%, 0%);
			span {
				transform: scale(0);
				transition: all 0.3s ease 0s;
				top: calc(50% - 1px);
				left: 0px;
				position: absolute;
				width: 100%;
				height: 2px;
				background-color: #d7d9df;
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
