//====================================================================================================
.contacts {
	display: flex;
	justify-content: center;
	&__bubble {
		display: inline-flex;
		width: 98px;
		align-self: baseline;
		background-color: #fff;
		border: 2px solid #dbdee6;
		border-radius: 15px;
		position: relative;
		margin: 0px 30px 0px 0px;
		&:before,
		&:after {
			content: "";
			width: 0px;
			height: 0px;
			position: absolute;
			border-left: 0px;
		}
		&:before {
			right: -17px;
			top: 12px;
			border: 16px solid;
			border-left: 0px;
			border-color: #dbdee6 transparent transparent #dbdee6;
		}
		&:after {
			top: 14px;
			right: -12px;
			border: 14px solid;
			border-left: 0px;
			border-color: #fff transparent transparent transparent;
		}
		&_header {
			@media (max-width: 820px) {
				display: none;
			}
		}
		&_footer {
			&.done {
				margin: 20px 30px 0px 0px;
			}
			@media (max-width: $md1+px) {
				text-align: right;
			}
			@media (max-width: 725px) {
				display: none;
			}
		}
		@media (max-width: $md1+px) {
			margin: 0px 20px 0px 0px;
		}
	}
	&__text {
		text-align: center;
		padding: 7px;
		font-size: 12px;
		line-height: 18px / 12px * 100%;
		text-transform: uppercase;
		color: #4673ab;
		span {
			border-bottom: 1px dotted;
		}
	}

	&__box {
		&_footer {
			@media (max-width: $md1+px) {
				text-align: right;
			}
			@media (max-width: 725px) {
				flex: 0 0 145px;
				width: 145px;
			}
		}
	}
}
.box-contacts {
	flex: 0 0 198px;
	width: 198px;
	@media (max-width: 820px) {
		text-align: right;
	}
	&__social {
	}
	&__phone {
		display: inline-flex;
		color: #040d0d;
		font-size: 22px;
		margin: 0px 0px 5px 0px;
		font-weight: 500;
		&_footer {
			color: #fff;
			font-weight: 400;
		}
		@media (max-width: $md4 + px) {
			font-size: 17px;
			margin: 0px 0px 3px 0px;
		}
	}

	&__days {
		margin: 0px 0px 7px 0px;
		color: #040d0d;
		font-size: 13px;
		font-weight: 300;
		&_footer {
			color: #fff;
		}
		@media (max-width: $md4 + px) {
			display: none;
		}
	}

	&__email {
		font-size: 13px;
		color: #4673ab;
		text-decoration: underline;
		font-weight: 300;
		&_footer {
			color: #fff;
		}
		@media (min-width: $md2+px) {
			&:hover {
				text-decoration: none;
			}
		}
		@media (max-width: $md4 + px) {
			margin: 0px 0px 8px 0px;
			text-align: right;
		}
	}
}
.social-contacts {
	margin: 0px 0px 3px 0px;
	display: inline-block;
	&__chat {
		display: flex;
		margin: 0px 0px 3px 0px;
	}
	&__skype {
		display: inline-flex;
		@media (min-width: $md2+px) {
			display: none;
		}
		@media (max-width: $md4 + px) {
			justify-content: flex-end;
		}
	}
}
.chat-social {
	&__whatsapp {
		fill: #4dc95c;
		margin: 0px 3px 0px 0px;
		font-size: 16px;
	}

	&__viber {
		fill: #7b519c;
		margin: 0px 5px 0px 0px;
		font-size: 16px;
	}

	&__tel {
		color: #040d0d;
		font-size: 13px;
		font-weight: 300;
		&_footer {
			color: #fff;
		}
	}

	&__skype {
		fill: #00adef;
		margin: 0px 5px 0px 0px;
		font-size: 16px;
	}

	&__skype-login {
		color: #040d0d;
		font-size: 13px;
		font-weight: 300;
		&_footer {
			color: #fff;
		}
	}
}
.top {
	display: flex;
	align-items: center;
	margin: 0px 0px 35px 0px;
	span {
		flex: 1 1 auto;
		height: 1px;
		background-color: #dbdee6;
	}
	&__title {
		color: #040d0d;
		padding: 0px 20px 0px 0px;
		text-transform: uppercase;
		font-weight: 500;
		font-size: 22px;
		position: relative;
		@media (max-width: $md1+px) {
			padding: 0px 57px 0px 0px;
			line-height: 24px;
			&:after {
				content: "";
				width: 10px;
				height: 24px;
				background: url("../img/icons/arrow-blue.png") 0px 0px no-repeat;
				position: absolute;
				right: 28px;
				top: 0;
			}
		}
	}

	&__side {
		font-weight: 300;
		font-size: 13px;
		color: #4673ab;
		text-decoration: underline;
		padding: 0px 0px 0px 12px;
		@media (max-width: $md1+px) {
			font-size: 0;
			padding: 0px 0px 0px 87px;
		}
	}
}
.items {
	display: flex;
	margin: 0px -15px;
}
.items-new {
	&__column {
	}
}
.items-column {
	padding: 0px 15px;
	margin: 3px 0px 0px 0px;
	&__item {
	}
}

.item {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	padding: 15px 20px 20px 20px;
	border: 1px solid #dbdee6;
	border-radius: 10px;
	position: relative;
	transition: all 0.3s ease;
	&:hover {
		border-color: #ff5e1e;
	}
	@media (max-width: $md1+px) {
		padding: 0px 10px 20px 10px;
	}
	@media (max-width: 476px) {
		padding: 0px 37px 20px 37px;
	}
	&__sticker {
		display: inline-flex;
		align-items: flex-end;
		justify-content: center;
		position: absolute;
		z-index: 2;
		top: -3px;
		left: 11px;
		text-transform: uppercase;
		width: 34px;
		height: 34px;
		&:after {
			content: "";
			position: absolute;
			height: 0;
			width: 4px;
			left: 0;
			bottom: -64%;
			border-right: 17px solid transparent;
			border-bottom: 11px solid transparent;
			border-left: 17px solid transparent;
		}
		&_new {
			font-size: 10px;
			line-height: 20px;
			color: #fff;
			background-color: #42c16c;
			&:after {
				border-top: 11px solid #42c16c;
			}
		}
		&_recommend {
			background-color: #f7c159;
			&:after {
				border-top: 11px solid #f7c159;
			}
			img {
				padding: 0px 0px 3px 0px;
			}
		}
		&_sale {
			background-color: #499ad9;
			font-size: 20px;
			line-height: 25px;
			color: #fff;
			&:after {
				content: "";
				border-top: 11px solid #499ad9;
			}
		}
	}
	&__top {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__image {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		height: 190px;
		margin: 0px 0px 20px 0px;
		img {
			max-width: 100%;
			max-height: 190px;
		}
	}

	&__label {
		font-weight: 500;
		font-size: 16px;
		line-height: 19px;
		color: #4673ab;
		text-decoration: underline;
		transition: all 0.3s ease;
		margin: 0px 0px 20px 0px;
		flex: 1 1 auto;
		&:hover {
			color: #ff5e1e;
		}
	}

	&__price {
		display: flex;
		align-items: flex-end;
		margin: 0px 0px 15px 0px;
	}

	&__text {
		font-weight: 300;
		color: #040d0d;
		font-size: 13px;
		margin: 0px 4px 0px 0px;
	}

	&__value {
		font-size: 20px;
		font-weight: 500;
		margin: 0px 9px 0px 0px;
	}

	&__old-value {
		font-size: 13px;
		text-decoration: line-through;
		color: #ff5e1e;
	}

	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background-color: #ff5e1e;
		padding: 14px 15px 10px 15px;
		border-radius: 7px;
		box-shadow: 0px 3px 0px 0px #c44817;
		transition: all 0.3s ease;
		&:hover {
			background-color: #4673ab;
			box-shadow: 0px 3px 0px 0px #365884;
		}
		span {
			padding: 0px 0px 0px 30px;
			font-size: 14px;
			font-weight: 500;
			text-transform: uppercase;
			color: #fff;
			position: relative;
			&:before {
				content: "";
				width: 20px;
				height: 18px;
				position: absolute;
				top: -4px;
				left: 0;
				background: url("../img/icons/cart-white.png") 0px 0px no-repeat;
			}
		}
	}

	&__details {
		color: #4673ab;
		text-decoration: underline;
		font-weight: 300;
		font-size: 13px;
	}
}
//====================================================================================================
