.page {
	&__slider {
	}
	&__maincontent {
	}
}
.mainslider {
	position: relative;
	margin-bottom: 99px;
	&__body {
	}

	&__slide {
		position: relative;
	}

	&__content {
		position: relative;
		z-index: 2;
	}

	&__img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}
.content-mainslider {
	padding: 66px 108px 48px 108px;
	@include mq($until: xl) {
		padding: 66 / $xl * 100vw 108 / $xl * 100vw 65 / $xl * 100vw 108 / $xl * 100vw;
	}
	@include mq($until: sm) {
		padding: 38 / $sm * 100vw 0;
	}
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
	}
	&__label {
		display: inline-flex;
		align-items: center;
		height: 27px;
		padding: 0px 14px;
		background-color: $color-orange;
		color: $color-white;
		font-family: $font-Raleway;
		font-size: 16px;
		line-height: 19 / 16 * 100%;
		letter-spacing: 2px;
		text-transform: uppercase;
		margin: 0px 0px 44px 0px;
	}
	&__title {
		font-family: $font-Raleway;
		font-weight: 300;
		font-size: 72px;
		line-height: 85 / 72 * 100%;
		text-align: center;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: $color-white;
		margin: 0px 0px 139 / 72 * 1em 0px;
		@include mq($until: lg) {
			font-size: 72 / $lg * 100vw;
		}
		@include mq($until: sm) {
			font-size: 30px;
			margin: 0px 0px 30 / 20 * 1em 0px;
		}
	}
	&__arrows {
		margin: 0px 0px 55px 0px;
	}
	&__text {
		font-family: $font-Raleway;
		font-size: 14px;
		line-height: 150%;
		text-align: center;
		color: $color-white;
		max-width: 456px;
	}
}
.controls-mainslider {
	@include mq($until: lg) {
		display: none;
	}
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
	}
	&__prev,
	&__next {
		font-size: 13px;
		line-height: 15 / 13 * 100%;
		color: $color-white;
		position: absolute;
		top: 100px;
	}
	&__prev {
		margin: 0px 0px 0px 109px;
		position: relative;
		&:after {
			content: "";
			width: 64px;
			height: 1px;
			background-color: $color-white;
			position: absolute;
			top: 50%;
			right: -74px;
		}
	}
	&__icon {
	}

	&__next {
		margin: 0px 139px 0px 0px;
		position: relative;
		&:before {
			content: "";
			width: 64px;
			height: 1px;
			background-color: $color-white;
			position: absolute;
			top: 50%;
			left: -74px;
		}
	}
}

.pagination-mainslider {
	&__container {
	}

	&__dots {
		display: none;
		justify-content: center;
		left: 0;
		z-index: 3;
		@include mq($until: lg) {
			display: block;
		}
		.swiper-pagination-bullet {
			cursor: pointer;
			margin: 0px 15.5px 0px 0px;
			background-color: red;
			// background-color: rgba(255, 255, 255, 0.4);
			width: 10px;
			height: 10px;
			border-radius: 50%;
			&:last-child {
				margin-right: 0;
			}
		}
		.swiper-pagination-bullet-active {
			background-color: #fff;
		}
	}
}

.maincontent-page {
	margin: 0px 0px 80px 0px;
	&__container {
		display: flex;
		justify-content: space-between;
		@include mq($until: lg) {
			display: block;
		}
	}
	&__content {
	}

	&__side {
		min-width: 370 / $container * 100%;
		margin: 0px 0px 0px 31px;
		@include mq($until: xl) {
			margin: 0px 0px 0px 23 / $xl * 100%;
		}
	}
}
.content-main {
	&__news {
	}
}
.news {
	margin: 0px 0px 75px 0px;
	@include mq($until: lg) {
		margin: 0px 0px 75 / $lg * 100vw 0px;
	}
	&__title {
		font-family: $font-Raleway;
		font-weight: 700;
		font-size: 17px;
		line-height: 20 / 17 * 100%;
		letter-spacing: 2px;
		margin: 0px 0px 15px 0px;
	}

	&__content {
		display: flex;
		@include mq($until: md) {
			display: block;
		}
	}

	&__column {
		&:first-child {
			flex: 1 1 auto;
		}
		&:last-child {
			flex: 0 1 271px;
			margin: 0px 0px 0px 29px;
		}
	}

	&__item {
	}
}
.content-main {
	&__news {
	}
	&__reviews {
	}
}
.news {
	margin: 0px 0px 75px 0px;
	@include mq($until: xl) {
		margin: 0px 0px 60 / $xl * 100vw 0px;
	}
	&__title {
	}

	&__items {
		display: flex;
	}

	&__main {
	}

	&__side {
		min-width: 270/ 769 * 100%;
		margin: 0px 0px 0px 29px;
		@include mq($until: xl) {
			margin: 0px 0px 0px 20 / $xl * 100vw;
		}
	}

	&__item {
	}
}
.main-news {
	position: relative;
	display: inline-block;
	@include mq($until: md) {
		width: 100%;
	}
	&__content {
		height: 100%;
		padding: 21px;
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		@include mq($until: xl) {
			padding: 21 / $xl * 100vw;
		}
		@include mq($until: md) {
			height: 334 / $md * 100vw;
			padding: 21 / $xl * 100vw;
		}
	}
	&__img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	&__title {
		font-weight: 900;
		font-size: 20px;
		line-height: 27 / 20 * 100%;
		color: $color-black;
		margin: 0px 0px 10 / 14 * 1em 0px;
		@include mq($until: xl) {
			font-size: 17px;
		}
		@include mq($until: lg) {
			font-size: 15px;
		}
	}

	&__text {
		font-size: 14px;
		line-height: 150%;
		color: $color-black;
		@include mq($until: xl) {
			font-size: 13px;
		}
		@include mq($until: lg) {
			font-size: 12px;
		}
	}
}
.item-news {
	display: flex;
	margin: 0px 0px 30px 0px;
	@include mq($until: xl) {
		margin: 0px 0px 10 / $xl * 100vw 0px;
	}
	&:last-child {
		margin: 0px 0px 0px 0px;
	}
	&__col {
		&:first-child {
			min-width: 127 / 270 * 100%;
			margin: 0px 12px 0px 0px;
			position: relative;
		}
		&:last-child {
		}
	}
	&__img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}

	&__title {
		font-family: $font-Playfair;
		font-weight: 900;
		font-size: 14px;
		line-height: 19 / 14 * 100%;
		margin: 0px 0px 10 / 14 * 1em 0px;
		color: $color-black;
		@include mq($until: xl) {
			font-size: 11.5px;
		}
	}

	&__text {
		font-family: $font-Raleway;
		font-size: 10px;
		line-height: 150%;
		color: $color-black;
		@include mq($until: xl) {
			font-size: 9.5px;
		}
	}
}
.reviews {
	margin: 0px 0px 87px 0px;
	&__title {
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
		margin: 0px -14px;
		li {
			flex: 0 1 50%;
			margin: 0px 0px 38px 0px;
			padding: 0px 14px;
			@include mq($until: $xl) {
				margin: 0px 0px 30 / $xl * 100vw 0px;
			}
		}
	}

	&__item {
	}

	&__pagging {
	}
}
.item-reviews {
	display: inline-block;
	transition: all 0.3s ease;
	&:hover {
		.item-reviews__img {
			&:before {
				opacity: 1;
				visibility: visible;
			}
		}
		.item-reviews__top {
			&:after {
				opacity: 1;
				visibility: visible;
			}
		}
		.stat-item {
			visibility: visible;
			opacity: 1;
		}
		.item-reviews__title {
			color: $color-orange;
		}
	}
	&__top {
		position: relative;
		margin: 0px 0px 20px 0px;
		height: 203px;
		max-height: 203px;
		@include mq($until: $xl) {
			margin: 0px 0px 20 / $xl * 100vw 0px;
		}
		&:after {
			opacity: 0;
			visibility: hidden;
			content: "";
			width: 14px;
			height: 17px;
			position: absolute;
			top: 10px;
			right: 8px;
			z-index: 3;
			background: url("../../img/icons/bage.svg") 0 0 no-repeat;
		}
	}

	&__img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		&:before {
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease;
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(7, 6, 17, 0.7);
			z-index: 2;
		}
	}

	&__stat {
	}

	&__content {
	}

	&__title {
		font-family: $font-Playfair;
		font-weight: 900;
		font-size: 23px;
		line-height: 31 / 23 * 100%;
		color: $color-black;
		margin: 0px 0px 11px 0px;
		transition: all 0.3s ease;
		@include mq($until: $xl) {
			font-size: 20px;
		}
	}

	&__text {
		color: $color-black;
		font-size: 14px;
		line-height: 150%;
		@include mq($until: $xl) {
			font-size: 13px;
		}
	}
	&:hover {
	}
}
.stat-item {
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease;
	position: absolute;
	bottom: 16px;
	left: 19px;
	z-index: 3;
	&__views,
	&__comments {
		color: #ffffff;
		opacity: 0.4;
		font-size: 15px;
		font-family: "Roboto";
		font-weight: 300;
	}
	&__views {
		margin: 0px 15px 0px 0px;
		padding: 0px 0px 0px 27px;
		background: url("../../img/icons/views.svg") center left no-repeat;
	}
	&__comments {
		padding: 0px 0px 0px 22px;
		background: url("../../img/icons/comments.svg") center left no-repeat;
	}
}
.content-side {
	&__banners {
		display: flex;
		flex-direction: column;
		min-height: 100%;
	}
}
.banner-content {
	position: relative;
	flex-grow: 1;
	&_side {
		margin: 0px 0px 33 / 370 * 100% 0px;
		display: flex;
		&:last-child {
			margin: 0px 0px 0px 0px;
		}
	}
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 70px 113px;
		position: relative;
		z-index: 2;
		@include mq($until: xl) {
			padding: 50 / $xl * 100vw 70 / $xl * 100vw;
		}
		&_col {
			flex-direction: column;
			padding: 40px 67px;
			min-height: 100%;
			flex-grow: 1;
		}
	}
	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__title {
		font-weight: 500;
		font-size: 30px;
		line-height: 35 / 30 * 100%;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: $color-white;
		@include mq($until: xl) {
			font-size: 25px;
		}
		&_side {
			font-family: $font-Playfair;
			font-weight: 900;
			text-align: center;
			flex: 1 1 auto;
			&_main {
				color: $color-black;
			}
		}
	}

	&__btn {
		&_main {
			background-color: $color-orange;
			border-color: $color-orange;
		}
	}
}
.page {
	&__slider {
		margin: 0px 0px 97px 0px;
	}
}
.bottom-slider {
	&__container {
		position: relative;
	}

	&__body {
		display: flex;
		ul {
			align-items: center;
			margin: 0px -15px;
			li {
				margin: 0px 15px;
				&.swiper-slide-active {
					// height: 136px;
					&__content {
						display: flex;
					}
				}
			}
		}
	}

	&__slide {
	}

	&__items {
	}

	&__item {
	}

	&__arrow {
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		display: inline-block;
		width: 44px;
		height: 44px;
		background: #fff url("../../img/icons/bottom-slider-arrows.svg") center center no-repeat;
		&_prev {
			left: 0;
		}

		&_next {
			right: 0;
			transform: rotate(-180deg) translate(0, 50%);
		}
	}
}
.item-bottom-slider {
	position: relative;
	height: 107px;
	&__content {
		display: none;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100%;
		position: relative;
		z-index: 2;
	}

	&__title {
		font-weight: 600;
		font-size: 16px;
		line-height: 19 / 16 * 100%;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: $color-white;
		margin: 0px 0px 16px 0px;
	}

	&__btn {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		height: 31px;
		padding: 0px 17px;
		border: 1px solid #fff;
		background-color: rgba(0, 0, 0, 0.3);
		transition: all 0.3s ease;
		span {
			font-size: 10px;
			line-height: 1.2;
			letter-spacing: 2px;
			text-transform: uppercase;
			color: $color-white;
		}
		&:hover {
			border-color: #ff9a64;
		}
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
