.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
.container {
	max-width: $max-width-container + px;
	margin: 0 auto;
	padding: 0px 16px;
	// @media (max-width: $md1+px) {
	// 	max-width: 980px;
	// }
	// @media (max-width: $md2+px) {
	// 	max-width: 760px;
	// }
	// @media (max-width: $md3+px) {
	// 	max-width: 560px;
	// }
}
.page {
	flex: 1 1 auto;
	padding-top: 218px;
	@include mq($until: xl) {
		padding-top: 185;
	}
	@include mq($until: lg) {
		padding-top: 156px;
	}
	&__container {
	}
}
._anim-show {
	transform: translate(0%, 120%);
	opacity: 0;
	transition: all 0.8s ease;
}
._anim-show._active,
._active ._anim-show {
	transform: translate(0%, 0%);
	opacity: 1;
}

.ibg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	img {
		display: none;
	}
}
.logo {
	font-family: $font-Playfair;
	font-weight: 900;
	letter-spacing: 1px;
	color: $color-black;
}
.section-title {
	font-family: $font-Raleway;
	font-weight: bold;
	font-size: 17px;
	line-height: 20 / 17 * 100%;
	letter-spacing: 2px;
	margin: 0px 0px 15px 0px;
}

// Pagination
.pagging {
	text-align: center;
	margin: 7px 0px 0px 0px;
	&__arrow {
		display: inline-flex;
		width: 14px;
		height: 14px;
		background: url("../../img/reviews/pagin-left.svg") 0 0 no-repeat;
		@include color-grey_bg;
		&_prev {
		}
		&_next {
			transform: rotate(-180deg);
		}
	}

	&__list {
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: 5px 90px;
		margin: 0px 16px;
		border-left: 1px solid rgba(0, 0, 0, 0.4);
		border-right: 1px solid rgba(0, 0, 0, 0.4);
		position: relative;
		li {
			margin: 0px 24px 0px 0px;
			position: relative;
		}
		@include mq($until: md) {
			padding: 1px 50 / $md * 100vw;
			margin: 0px 13 / $md * 100vw;
			li {
				margin: 0px 24 / $md * 100vw 0px 0px;
			}
		}
	}

	&__item {
		@include color-grey;
		line-height: 17 / 14 * 100%;
		font-family: "Roboto";
		&.active {
			font-size: 20px;
			padding: 0px 0px 2px 0px;
			border-bottom: 3px solid $color-orange;
			@include mq($until: md) {
				font-size: 18px;
				padding: 5px 8px;
				border: 1px solid $color-orange;
			}
		}
	}
}
