/*Breakpoints*/
$max-width: 1440px;
$max-width-container: 1202;
$container: 1170;
$xl: 1200.98;
$lg: 991.98;
$md: 767.98;
$sm: 479.98;
$xs: 320.98;

$mq-breakpoints: (
	xs: 320.98px,
	sm: 479.98px,
	md: 767.98px,
	lg: 991.98px,
	xl: 1200.98px,
);
/* Show active breakpoint in top right corner of viewport */
$mq-show-breakpoints: (xs, sm, md, lg, xl);

$mq-media-type: screen;

// Font
$font-size: 14px;
$font-Playfair: "Playfair Display";
$font-Raleway: "Raleway";
$html-font-size: 16px;

// Colors
$color-black: #000000;
$color-orange: #ff7931;
$color-white: #ffffff;
$color-light-grey: #f9f9fc;
